# Byte-compiled / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
*.env/

# IDE specific files
.vscode/
.idea/

# Logs
*.log

# Compiled Python files
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables file
.env

# Dependency directories
lib/
lib64/
bin/
include/
